<!DOCTYPE HTML>
<html lang="en">

<style>

.menu-item.active {
    background-color: #f0f0f0; 
    color: #333; 
}
</style>


<head>
    <meta charset="utf-8">
    <title>Farm Fresh</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/imgs/farm fresh img/logo/farm logo.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li id="dashboard" class="menu-item active">
                    <a class="menu-link" href="/dashboardGetPage"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li id="products" class="menu-item has-submenu">
                    <a class="menu-link" href="/productsdetails"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li id="orders" class="menu-item has-submenu">
                    <a class="menu-link" href="/ordersDetails"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li id="user-details" class="menu-item has-submenu">
                    <a class="menu-link" href="/userdetails"> <i class="icon material-icons md-store"></i>
                        <span class="text">User-Details</span>
                    </a>
                </li>
                <li id="category" class="menu-item has-submenu">
                    <a class="menu-link" href="/category"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li id="coupons" class="menu-item has-submenu">
                    <a class="menu-link" href="/coupan"> <i class="icon material-icons md-person"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li id="offer-products" class="menu-item has-submenu">
                    <a class="menu-link" href="/offerProduct"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offer Products</span>
                    </a>
                </li>
                <li id="category-offer" class="menu-item">
                    <a class="menu-link" href="/categoryOffer"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Category Offer</span>
                    </a>
                </li>
                <li id="sales-report" class="menu-item">
                    <a class="menu-link" href="/salesreport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
               
               
            </ul>
            <hr>
            -
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
          


            <div class="col-nav">
                <ul class="nav">
                    
                    <li class="dropdown nav-item">
                        
                            <a class="dropdown-item text-danger" href="/adminlogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var menuItems = document.querySelectorAll('.menu-item');
        
                function removeActiveClass() {
                    menuItems.forEach(function (el) {
                        el.classList.remove('active');
                    });
                }
        
                menuItems.forEach(function (item) {
                    item.addEventListener('click', function () {
                        removeActiveClass();
        
                        item.classList.add('active');
        
                        localStorage.setItem('activeMenuItem', item.id);
                    });
                });
        
                var activeMenuItem = localStorage.getItem('activeMenuItem');
                if (activeMenuItem) {
                    removeActiveClass();
        
                    document.getElementById(activeMenuItem).classList.add('active');
                }
            });
        </script>
        