<style>

@media (min-width: 576px) {
    .text-sm-end {
        text-align: right !important;
        
    }
}

footer.main-footer {
    bottom: 0;
    padding: 30px 3%;
    position: absolute;
    right: 0;
    width: 100%;
    height: 60px;
    display: none;
}
</style>


<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
