<%- include('../partials/header') %>


<body>
    
        <!-- change password sending -->
    
<div class="container">
    <div class="form-box">
        <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
                <!-- <li class="nav-item">
                <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
            </li> -->
                <li class="nav-item">
                    <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                        role="tab" aria-controls="register-2" aria-selected="true">Change Password</a>
                </li>
                <style>
                    /* Add your custom styles here */
                    .resend-link {
                        color: #007bff;
                        cursor: pointer;
                    }
                </style>
                </head>

                <body>

                    <div class="container mt-4">
                        <div class="row justify-content-center">
                            <div class="col-md-6">

                                <form id="newPasswordValidation">

                                    <p>Enter Prevoius Password </p>


                                    <div class="form-group">
                                        <input type="text" class="form-control" id="oldpassword" name="oldpassword"
                                            placeholder="" required>
                                    </div>


                                    <p>Enter the new password </p>
                                    
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                                            placeholder="" required>
                                    </div>
                                    
                                    <p>Confirm the new password </p>
                                    
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                            placeholder="" required>
                                    </div>
                                    <br>
                                    <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
            </ul>

        </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
</div><!-- End .container -->
<br>
<br>
<br>


<script>
    $.validator.addMethod("noWhitespace", function (value, element) {
          return value.trim() !== ""; // Check if the trimmed value is not empty
      }, "Please enter a valid value.");

</script>




<script>


  $('#newPasswordValidation').validate({
        
        rules:{

            oldpassword:{
                noWhitespace:true,
                pattern:/^[0-9\s]+$/,
                required:true,


            },

            newPassword:{
                noWhitespace:true,
                pattern:/^[0-9\s]+$/,
                required:true
            },

            confirmPassword:{
                noWhitespace:true,
                equalTo:'#newPassword',
                required:true
            }

            


              
             

              
        },
         
        submitHandler : async function (form,event){
              
            event.preventDefault()
       

          const formData = {
                
            oldpassword:form.oldpassword.value,
            newPassword:form.newPassword.value,
            confirmPassword:form.confirmPassword.value

                
          }

          let response = await fetch(`/passwordUpdate`,{
                
                 method:"POST",
                 headers:{'Content-Type':'application/json'},
                 body: JSON.stringify(formData) 
          })


          let result = await response.json()

          if(result.success){
              
             await Swal.fire({
                  
                 icon:"success",
                 title:"OK"
             })

             window.location.href = '/profilePage'
          }


    }, 
  })


     

        
</script>

<%- include ('../partials/footer') %>
