<%- include('../partials/header') %>

    
    
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <!-- <li class="nav-item">
                    <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                            role="tab" aria-controls="register-2" aria-selected="true">Forget Password</a>
                    </li>
                    <style>
                        /* Add your custom styles here */
                        .resend-link {
                            color: #007bff;
                            cursor: pointer;
                        }
                    </style>
                    </head>

                    <body>

                        <div class="container mt-4">
                            <div class="row justify-content-center">
                                <div class="col-md-6">

                                    <form id="userEmailValidation">
                                        <p>Enter the E-mail address associated with your account</p>
                                        
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="forgetEmail" name="forgetEmail"
                                                placeholder="" required>
                                        </div>
                                        <br>
                                        <button type="submit" id="verify-button" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </ul>

            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
    <br>
    <br>
    <br>

    

 
    
    <script>

        $('#userEmailValidation').validate({
              
              rules:{
                  
                forgetEmail:{
                      required:true,
                      email:true
                }
              },

              submitHandler:async function(form,event){
                 
                    event.preventDefault()

                    let formData = {
                          
                         forgetEmail:form.forgetEmail.value
                    }

                    let response = await fetch('/updatingPassword',{

                         method:"POST",
                         headers:{'Content-Type':'application/json'},
                         body:JSON.stringify(formData)
                    })

                    let result = await response.json()

                    if(result.success){
                         
                        await Swal.fire({
                              
                            icon:"success",
                            text:"Emial varified",
                            title:"OK"
                        })

                        window.location.href = '/forgotOtp'
                    }else if(result.wrong){
                          
                         window.location.reload()
                    }
              }
        })

         
    </script>


    <%- include ('../partials/footer') %>


