<!-- End .header -->

<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Farm Fresh</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">



    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        .intro-slider-1 .slide-image:before {
            padding-top: 63.538462%;
        }

        .mfp-content {
            display: none;
        }
    </style>


        <!-- jQuery -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
        
        <!-- form validate -->
        <script
          src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
          integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
          integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        ></script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        




</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <br>
            <div class="header-top">
                <div class="container">
                    <!-- <div class="header-left">
                        <div>
                            <a href="#"></a>

                        </div>


                    </div> -->

                    <div class="header-right">

                       


                          
                        <ul class="top-menu">

                            <li>
                          
                             

                           
                           
                                <a href="#">Links</a>
                                <ul>

                                      <%if(userLogged){%>
                                        
                                   

                                        <li><a href="wishlist.html"><i class="icon-heart-o"></i>My Wishlist
                                            <span>(3)</span></a></li>
                                    <li><a href="/profilePage" >Profile</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <!-- <li><a href="logout">Logout</a></li> -->
                                    <li><a href="/logout"><i class="icon-phone"></i>Logout</a></li>
                                     
                                    <% }else{ %>


                                

                                        

                                        <li><a href="/loginpage" ><i class="icon-user"></i>Login</a>

                               <% } %>

                                    </li>
                                </ul>

                              
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">


                        <!-- Logo Tag -->
                        <a href="index.html" class="logo">
                            <img src="/assets/images/farm fresh pic/farm logo.jpg" alt="Molla Logo" width="105"
                                height="25">
                        </a>


                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div>
                            </form>
                        </div>

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    

                                    
                                </div><!-- End .cart-product -->

                              
                                <div class="dropdown-cart-action">
                                    <a href="/cartPage" class="btn btn-primary">View Cart</a>
                                    <a href="/checkoutPage" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        

    <!-- ============================staring home==================================== -->


    <main class="main">
        <div class="intro-section bg-lighter pt-5 pb-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                            <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                                data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "responsive": {
                                            "768": {
                                                "nav": true
                                            }
                                        }
                                    }'>
                                <div class="intro-slide">
                                    <figure class="slide-image">
                                        <picture>
                                            <source media="(max-width: 480px)"
                                                srcset="assets/images/slider/slide-1-480w.jpg">
                                            <img src="assets/images/farm fresh pic/front/front 4.jpg" alt="Image Desc">
                                        </picture>
                                    </figure><!-- End .slide-image -->

                                    <div class="intro-content">
                                        <!-- <h3 class="intro-subtitle">Topsale Collection</h3> -->
                                        <!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title">World Class<br>Meat</h1>
                                        <!-- End .intro-title -->
                                        
                                          <!-- =================SHOP NOW========================= -->

                                        <a href="/productListPage" class="btn btn-outline-white">
                                            <span>SHOP NOW</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>

                                         <!-- =================SHOP NOW========================= -->


                                    </div><!-- End .intro-content -->
                                </div><!-- End .intro-slide -->

                                <div class="intro-slide">
                                    <figure class="slide-image">
                                        <picture>
                                            <source media="(max-width: 480px)"
                                                srcset="assets/images/slider/slide-2-480w.jpg">
                                            <img src="assets/images/farm fresh pic/front/fornt 2.png" alt="Image Desc">
                                        </picture>
                                    </figure><!-- End .slide-image -->

                                    <div class="intro-content">
                                        <!-- <h3 class="intro-subtitle">News and Inspiration</h3> -->
                                        <!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title">World Class Meat</h1><!-- End .intro-title -->

                                        <a href="category.html" class="btn btn-outline-white">
                                            <span>SHOP NOW</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .intro-content -->
                                </div><!-- End .intro-slide -->

                                <div class="intro-slide">
                                    <figure class="slide-image">
                                        <picture>
                                            <source media="(max-width: 480px)"
                                                srcset="assets/images/slider/slide-3-480w.jpg">
                                            <img src="assets/images/farm fresh pic/front/fornt 2.png" alt="Image Desc">
                                        </picture>
                                    </figure><!-- End .slide-image -->

                                    <div class="intro-content">
                                        <!-- <h3 class="intro-subtitle">Outdoor Furniture</h3> -->
                                        <!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title">World Class <br>Meat</h1>
                                        <!-- End .intro-title -->

                                        <a href="category.html" class="btn btn-outline-white">
                                            <span>SHOP NOW</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .intro-content -->
                                </div><!-- End .intro-slide -->
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div><!-- End .col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="intro-banners">
                            <div class="row row-sm">
                                <div class="col-md-6 col-lg-12">
                                    <div class="banner banner-display">
                                        <a href="#">
                                            <img src="assets/images/farm fresh pic/front/front 3.webp" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-darkwhite"><a href="#">Clearence</a>
                                            </h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white"><a href="#"> World Wide Meats <br>Up
                                                    to 40% off</a></h3><!-- End .banner-title -->
                                            <a href="/productListPage" class="btn btn-outline-white banner-link">Shop Now<i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-md-6 col-lg-12 -->

                                <div class="col-md-6 col-lg-12">
                                    <div class="banner banner-display mb-0">
                                        <a href="#">
                                            <img src="assets/images/farm fresh pic/front/front 3.webp" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle text-darkwhite"><a href="#">New in</a></h4>
                                            <!-- End .banner-subtitle -->
                                            <h3 class="banner-title text-white"><a href="#">Best Quality Meat
                                                    <br>Collection</a></h3><!-- End .banner-title -->
                                            <a href="/productListPage" class="btn btn-outline-white banner-link">Shop Now<i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-md-6 col-lg-12 -->
                            </div><!-- End .row row-sm -->
                        </div><!-- End .intro-banners -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->

                <div class="mb-6"></div><!-- End .mb-6 -->
            </div>
        </div>
        </div><!-- End .bg-lighter -->

        <div class="mb-6"></div>

        <div class="container">


            <!-- <div class="tab-content tab-content-carousel">////  Ivade avasinichu  /////
           
            </div> -->
            <!--  -->






            <!-- 
         ///Ivadenne start cheyyanam/// -->

            <div class="container categories pt-6">
                <h2 class="title-lg text-center mb-4">Shop by Categories</h2><!-- End .title-lg text-center -->

                <div class="row">
                    <div class="col-6 col-lg-4">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <!-- oru pic ullvade ann two pics Mutton-->
                                <img src="assets/images/farm fresh pic/category/mutton/mutton bonless 1.jpg"
                                    alt="Banner">
                                <img src="assets/images/farm fresh pic/category/mutton/mutton bonless 1.jpg"
                                    alt="Banner">

                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">Mutton</a></h3>
                                <!-- End .banner-title -->
                                <a href="#" class="btn btn-outline-white banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    <div class="col-6 col-lg-4 order-lg-last">
                        <div class="banner banner-display banner-link-anim">
                            <!-- chicken div  ithilum otta pic ann two pics add cheythathnn-->
                            <a href="#">
                                <img src="assets/images/farm fresh pic/category/chicken/spl cuts 1.webp" alt="Banner">
                                <img src="assets/images/farm fresh pic/category/chicken/spl cuts 1.webp" alt="Banner">

                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">Chicken</a></h3>
                                <!-- End .banner-title -->
                                <a href="#" class="btn btn-outline-white banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                    <div class="col-sm-12 col-lg-4 banners-sm">
                        <div class="row">
                            <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                                <!-- Beff div -->
                                <a href="#">
                                    <img src="assets/images/farm fresh pic/category/beef/beef 1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h3 class="banner-title text-white"><a href="#">Beef</a></h3>
                                    <!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">Shop Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                                <!-- Fish div -->
                                <a href="#">
                                    <img src="assets/images/farm fresh pic/category/fish/fish seer Vajram 1.jpg"
                                        alt="Banner">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h3 class="banner-title text-white"><a href="#">Fish</a></h3>
                                    <!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">Shop Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div>
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-6 -->

            <!-- Ellam perfect end -->




        </div><!-- End .container -->
        <!-- ////Ithe avasnikunnathe ivade sthradhikkanam //////-->









        <div class="cta cta-display bg-image pt-4 pb-4"
            style="background-image: url(assets/images/backgrounds/cta/bg-6.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                            <div class="col">
                                <h3 class="cta-title text-white">Sign Up & Get 10% Off</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">Farm Fresh presents the best meat in the world</p>
                                <!-- End .cta-desc -->
                            </div><!-- End .col -->


                            <!-- Sign up div  kalanathanne-->
                            <!-- <div class="col-auto">
                            <a href="login.html" class="btn btn-outline-white"><span>SIGN UP</span><i
                                    class="icon-long-arrow-right"></i></a>
                        </div> -->

                        </div><!-- End .row no-gutters -->
                    </div><!-- End .col-md-10 col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cta -->
    </main><!-- End .main -->



    <!-- ============================================Footer Ending====================================================== -->

    <%- include ('../partials/footer') %>