<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Farm Fresh</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">



    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        .intro-slider-1 .slide-image:before {
            padding-top: 63.538462%;
        }

        .mfp-content {
            display: none;
        }
    </style>


        <!-- jQuery -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
        
        <!-- form validate -->
        <script
          src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
          integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
          integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        ></script>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        




</head>

<div class="header-middle sticky-header">
  <div class="container">
      <div class="header-left">


          <!-- Logo Tag -->
          <a href="index.html" class="logo">
              <img src="/assets/images/farm fresh pic/farm logo.jpg" alt="Molla Logo" width="105"
                  height="25">
          </a>


      </div><!-- End .header-left -->

      <div class="header-right">
          <!-- <div class="header-search">
              <a href="#" class="search-toggle" role="button" title="Search"><i
                      class="icon-search"></i></a>
              <form action="#" method="get">
                  <div class="header-search-wrapper">
                      <label for="q" class="sr-only">Search</label>
                      <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                          required>
                  </div>
              </form>
          </div> -->

          <div class="dropdown cart-dropdown">
              <!-- <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" data-display="static">
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-count">2</span>
              </a> -->

              <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-cart-products">
                      <div class="product">
                          <div class="product-cart-details">
                              <h4 class="product-title">
                                  <a href="product.html">Beige knitted elastic runner shoes</a>
                              </h4>

                              <span class="cart-product-info">
                                  <span class="cart-product-qty">1</span>
                                  x $84.00
                              </span>
                          </div>

                          <figure class="product-image-container">
                              <a href="product.html" class="product-image">
                                  <img src="/assets/images/products/cart/product-1.jpg" alt="product">
                              </a>
                          </figure>
                          <a href="#" class="btn-remove" title="Remove Product"><i
                                  class="icon-close"></i></a>
                      </div>

                      <div class="product">
                          <div class="product-cart-details">
                              <h4 class="product-title">
                                  <a href="product.html">Blue utility pinafore denim dress</a>
                              </h4>

                              <span class="cart-product-info">
                                  <span class="cart-product-qty">1</span>
                                  x $76.00
                              </span>
                          </div>

                          <figure class="product-image-container">
                              <a href="product.html" class="product-image">
                                  <img src="/assets/images/products/cart/product-2.jpg" alt="product">
                              </a>
                          </figure>
                          <a href="#" class="btn-remove" title="Remove Product"><i
                                  class="icon-close"></i></a>
                      </div>
                  </div>

                  <div class="dropdown-cart-total">
                      <span>Total</span>

                      <span class="cart-total-price">$160.00</span>
                  </div>
                  <div class="dropdown-cart-action">
                      <a href="/cartPage" class="btn btn-primary">View Cart</a>
                      <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i
                              class="icon-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- End .header-middle -->



















































<main class="main">
    <!-- <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
      </div>
   
    </nav> -->
    <!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
      style="background-image: url('/public/assets/images/logo-footer.png')">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                  aria-controls="signin-2" aria-selected="false">Sign up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab"
                  aria-controls="register-2" aria-selected="true">Log in</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                      <!-- ====================signuplink==================== -->

                <form class="regForm" action="/signup" id="formData" method="POST">
                  <div class="form-group">
                    <label for="singin-email-2">UserName </label>
                  <input type="text" class="form-control" id="username" name="name"
                      title="Please enter your username (at least 3 characters)" minlength="3" maxlength="20" required />
                  </div>
                  <!-- End .form-group -->
                  
                  <div class="form-group">
                    <label for="singin-username">Email</label>
                    <input type="text" class="form-control" id="email" name="email"
                      title="Please enter valid email" required />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="singin-password-2">Password</label>
                    <input type="password" class="form-control" id="password" name="password" minlength="5"
                      maxlength="12" required />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="singin-phnumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phonenumber" name="phone" minlength="10"
                      maxlength="10" title=" Enter 10 numbers" required />
                  </div>
                  <!-- End .form-group -->
                  <div class="error"></div>
                  <form action="/otp" method="get">
                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>Sign up</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="signin-remember-2" />
                      <label class="custom-control-label" for="signin-remember-2">Remember Me</label>
                    </div>
                  </form>
                    <!-- End .custom-checkbox -->

                    <!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
              <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="register-email-2">Your email address *</label>
                    <input type="email" class="form-control" id="register-email-2" name="email" required />
                  </div>
                  <!-- End .form-group -->
                  <div class="form-group">
                    <label for="register-password-2">Password *</label>
                    <input type="password" class="form-control" id="register-password-2" name="password"
                      title="Please enter your username (at least 3 characters)" required />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>Log in</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="register-policy-2" required />
                      <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy
                          policy</a> *</label>
                    </div> <a href="/forgottenGetPassword">Forgotten Password</a>
                    <!-- End .custom-checkbox -->
                  </div>
                  <!-- End .form-footer -->

                 
                </form>
                <div class="form-choice">
                  
                      <p class="text-center">or sign in with</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                          </a>
                        </div>
                        <!-- End .col-6 -->
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                          </a>
                        </div>
                        <!-- End .col-6 -->
                      </div>
                      <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .form-tab -->
        </div>
        <!-- End .form-box -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .login-page section-bg -->
  </main>
  <!-- End .main -->

  <!-- include validate.js // jquery plugin   --> -->

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script> 

  <script>
     $.validator.addMethod("noWhitespace", function (value, element) {
      return value.trim() !== ""; 
    }, "Please enter a valid value.");

  </script>
  <script>

    


    $("#formData").validate({
      rules: {
        username: {
          required: true,
          noWhitespace: true, 
          pattern: /^[a-zA-Z]+$/,
          minlength: 3,
          maxlength: 20,
        },
        email: {
          required: true,
          email: true,
          required: true,

        },
        phonenumber: {
          required: true,
          digits: true,
          minlength: 10,
          maxlength: 10,
        },
        password: {
          required: true,
          minlength: 6,
          maxlength: 100,
          noWhitespace: true, // Apply custom validation rule
          pattern: /^[a-zA-Z0-9]+$/,

        },
      },


    }); 


   </script> 




<%- include ('../partials/footer') %>